(
    bucket_jaw: (
        node_name: "HMS_bucket_jaws_JNT",
        axis: (-1.0, 0.0, 0.0),
        min_max_angle: Some((0.0, 1.5707964)),
        default_angle: 0.0,
    ),
    bucket_base: (
        node_name: "HMS_bucket_bucket_JNT",
        axis: (1.0, 0.0, 0.0),
        min_max_angle: Some((-0.0, 1.5707964)),
        default_angle: 0.0,
    ),
    stick: (
        node_name: "HMS_stick_JNT",
        axis: (-1.0, 0.0, 0.0),
        min_max_angle: Some((-0.3, 1.5707964)),
        default_angle: 0.0,
    ),
    boom: (
        node_name: "HMS_boom_JNT",
        axis: (-1.0, 0.0, 0.0),
        min_max_angle: Some((-0.1, 1.5707964)),
        default_angle: 0.0,
    ),
    swing: (
        node_name: "HMS_swing_drive",
        axis: (0.0, 1.0, 0.0),
        min_max_angle: None,
        default_angle: 0.0,
    ),
)